@model Article
@{
    ViewData["Title"] = Model.Name;
}

<div class="blog-container">
    @Html.Raw(Model.Contents);
</div>

@*
<h3>Leave a comment</h3>
<form class="blog-comment-form" asp-controller="Blog" asp-action="PostComment" method="POST">
    <div class="top-entry">
        <!--<label asp-for="CommentModel.Author"></label>-->
        <input asp-for="CommentModel.Author" placeholder="Full name"/>

        <!--<label asp-for="CommentModel.AuthorEmail"></label>-->
        <input asp-for="CommentModel.AuthorEmail" placeholder="Email address"/>
    </div>
    
    <!--<label asp-for="CommentModel.Text"></label>-->
    <textarea asp-for="CommentModel.Text" placeholder="What's on your mind?"></textarea>
    
    <input asp-for="CommentModel.Article" value="@Model.Name"/>
    
    <div>
        <button type="submit">Post</button>
    </div>
</form>*@


@*
@{
    foreach (var comment in Model.Comments)
    {
        <h2>@comment.Author</h2>
        <p>@comment.Text</p>
        <p>@comment.PostDate.ToShortTimeString()</p>
                                                
        @if (User.Identity.IsAuthenticated)
         {
             <form asp-controller="Blog" asp-action="Delete" method="POST">
                 <input asp-for="CommentModel.Id" value="@comment.Id"/>
                 <button type="submit">Delete</button>
             </form>
         }
    }
}*@